<div class="container-fluid bg-3 text-center">
  <h3>Products</h3><br>
  <div class="row">
    <div *ngFor="let service of dummyDataService.getActiveServices(); let i = index">
      <app-tile-item
        [service]="service"
        [index]="i"
        (click)=dummyDataService.removeRequestedService(service)>
      </app-tile-item>
    </div>
  </div>

  <div class="row">
      <div *ngFor="let service of dummyDataService.getSuggestedServices(); let i = index">
        <app-tile-item
          [service]="service"
          [index]="i"
          (click)=dummyDataService.removeSuggestedService(service)>
        </app-tile-item>
      </div>
    </div>

</div><br>
