<!--<div class="row">-->
  <!--<div class="col-xs-12">-->

    <!--<form {formGroup]="entryForm"-->
          <!--(ngSubmit)="onSubmit()">-->

      <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="form-group">-->
          <!--<label-->
            <!--for="house">-->
          <!--</label>-->
          <!--<input-->
            <!--type="text"-->
            <!--id="house"-->
            <!--formControlName="house"-->
            <!--class="form-control">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

      <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
          <!--<div class="form-group">-->
            <!--<label-->
              <!--for="pet">-->
            <!--</label>-->
            <!--<input-->
              <!--type="text"-->
              <!--id="pet"-->
              <!--formControlName="pet"-->
              <!--class="form-control">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->



    <!--</form>-->
  <!--</div>-->
<!--</div>-->
